html,
body {
  min-height: 100%;
}

#__next {
  height: 100%;
}

code {
  font-family: 'Public Sans', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}
code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}
code[class*='language-'] {
  padding: 0;
}

.MuiDataGrid-footerContainer {
  display: none !important;
}

.MuiBreadcrumbs-ol * {
  color: #fff !important;
}

.MuiBreadcrumbs-ol .last {
  color: #D2AE6D !important;
}

.page-card-mui {
  padding: 0 !important; 
  margin: 1.5rem 0 0 1.5rem !important;
}